<div class="todo">

  <form class="form-inline" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <input type="search" formControlName="search" name="search" placeholder="Search" required="required" class="form-control"  aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

<div class="container mt-4 vj-destacados">
  <div class="row">
  </div>
  <div class="row">
    <div *ngFor="let book of books" class="col-md-2 mb-3">
      <div class="card">
        <img [src]="book.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{book.name}}</h5>
          <p>
            <a (href)="searchBooksByEditorial(book)" class="badge text-bg-info"[text]="">????????</a>
          </p>
          <p class="card-text">{{book.description}}</p>
        </div>
        <div class="card-footer text-muted">
          <a href="#" class="btn btn-primary">Detalle</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
