<head>
  <script src="{% static 'Pages/Bootstrap/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
</head>
<body>

<div class="topnav">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">
      <img src="assets/icono.png" alt="" width="30" height="24"> Tienda de Libros
    </a>
    <div class="topnav-right">
      <a><form class="form-inline" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <a><input #filter="ngModel" type="search" name="filter" placeholder="search" class="form-control"  aria-label="Search" [(ngModel)]="resultado"></a>
       <a><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
      </form></a>
      <a routerLink="/login" class="btn btn-primary" role="button">Login</a>
      <a routerLink="/usuarios" class="btn btn-primary" role="button">Usuarios</a>
      <a routerLink="/listaLibros" class="btn btn-primary" role="button">Libros</a>
    </div>
  </nav>

</div>
</body>

