<head>
    <script src="{% static 'Pages/Bootstrap/bootstrap-5.0.2-dist/js/bootstrap.bundle.js' %}"></script>
  </head>
  <body>
    <div id="images" class="row">
        <div class="column">
            <img src="https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="rounded float-start" style="width:70%">
            <button class="btn btn-primary" role="button" style="width:70%">Añadir</button>
        </div>
        <div class="column">
            <img src="https://images.unsplash.com/photo-1517971071642-34a2d3ecc9cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" class="rounded float-start" style="width:70%">
            <button class="btn btn-primary" role="button" style="width:70%" >Editar</button>
        </div>
    </div>
  </body>