<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Usuarios</h3>
      <button (click) = "nuevo()" type="button" class="btn btn-primary" style="margin-bottom:5px">Nuevo</button>
    </div>

    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr> 
            <th>NOMBRE USUARIO</th> 
            <th>CONTRASEÑA</th>
            <th>INACTIVO</th>  
            <th>NOMBRES</th> 
            <th>APELLIDOS</th> 
            <th>FECHA</th> 
            <th>CARGO</th> 
          </tr> 
        </thead>

        <tbody>
          <tr *ngFor="let usuario of usuarios" style="vertical-align:text-top">
            <td>{{usuario.userName}}</td>
            <td>{{usuario.password}}</td>
            <td>{{usuario.inactivate}}</td>
            <td>{{usuario.names}}</td>
            <td>{{usuario.lastNames}}</td>
            <td>{{usuario.date}}</td>
            <td>{{usuario.position}}</td>
            <td>
              <button [routerLink]="['/edit/', usuario.userName]" class="btn btn-warning">Editar</button>
              <button (click)= "delete(usuario.userName)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
      
      </table>
    </div>
  </div>
</div>


