<div class="usuarios">
  <h1 style="text-align:center">Usuarios</h1>
  <button type="button" class="btn btn-primary" style="margin-bottom:5px">Nuevo</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Nickname</th>
    <th scope="col">Cargo</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr style="vertical-align:text-top">
    <th scope="row">1</th>
    <td>John</td>
    <td>Ramirez</td>
    <td>jramirez</td>
    <td>administrador</td>
    <td>
      <div class="botones" >
        <button class="btn btn-default">
          <img src="assets/writing.png" width="40" />
        </button>
        <button class="btn btn-default">
          <img src="assets/eliminar.png" width="30" />
        </button>
      </div>
    </td>
  </tr>

  </tbody>
</table>
  <nav aria-label="...">
    <ul class="pagination  justify-content-center">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only"></span>
      </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>


